$maxSmall: 200px;
$minSmall: 321px;
$spacingMd: 8px;
$spacingLg: 12px;

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.1;
  letter-spacing: -0.05em;
  margin: 0;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  opacity: 0.4;
  background-repeat: repeat;
  background: rgba(0, 0, 0, 0) url('/white_carbon.png');
  transition: background-color 1s;
}

.background:before {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
}

.github-corner {
  z-index: 1;
}

.container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.image-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}

.image {
  width: 100%;
  min-width: 320px;
  transition: transform 0.01s;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  @media screen and (min-width: $minSmall) {
    width: 320px;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.info {
  text-align: center;
  width: 100%;
  min-width: 320px;
  @media screen and (min-width: $minSmall) {
    width: 320px;
  }
}

.name {
  margin-top: $spacingLg;
  font-weight: bold;
  font-size: 18px;
}

.artist {
  margin-top: $spacingMd;
  font-size: 16px;
}

.progress-container {
  margin-top: 2 * $spacingLg;
  width: 100%;
  height: 3px;
  background-color: gray;
}

.progress {
  height: 3px;
  background-color: white;
}

.timer {
  margin-top: $spacingMd;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.footer {
  position: absolute;
  z-index: 1;
  bottom: 2 * $spacingLg;
  font-size: 1.2em;
  font-weight: 400;
  margin: 10vmin 0 0;
}

.login {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginLink {
  background-color: #1db954;
  box-shadow: 0 5px 0 #137736;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: #0f612c;
  }

  &:active {
    box-shadow: none;
    top: 5px;
  }
}
